body{
  font-family: "Work Sans", sans-serif;
}

/* Hero Section */

header{
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
}
main{
    max-width: 1140px;
}
/* .hero-area{
    text-align: right;
    padding: 215px 230px 330px 845px;
} */

.hero-area{
    text-align: right;
    width: 50%;
    margin-left: 40%;
    padding-top: 200px;
    
    padding-bottom: 140px;
}
.believe-title{
    font-size: 55px;
}

.believe-sub-title{
    font-size: 16px;
    padding-bottom: 35px;
}

.primary-btn{
    background: #F15B22;
    color: #ffffff;
    border: none;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    margin-left: 64px;
    margin-bottom: 59px;
    font-size: 20px;
}
.primary-button{
    background: #ffffff;
    color: #F15B22;
    border: none;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    margin-left: 64px;
    margin-bottom: 59px;
    font-size: 20px;

}

/* Previous Year */

.previous-year{
    display: flex;
}

.person img{
    width: 540px;
    height: 700px;
    text-align: center;
    margin-left: 10%;
    padding-top: 130px;
    padding-bottom: 130px;
}

.failures-of-previous-year{
    width: 40%;
    margin-left: 10%;
    padding-top: 370px;
}

.failures-of-previous-year h2{
    font-size: 40px;
    max-width: 280px;
}

.failures-of-previous-year p{
    font-size: 16px;
    color: black;
}

/* My Plans */

.my-plans{
    text-align: center;
    font-size: 40px;
    padding-bottom: 55px;
}

.plans-child{
    display: flex;
    text-align: center;
    margin-bottom: 130px;
}

.child{
    margin-left: 65px;
    text-align: center;
}

.child h4{
    font-size: 30px;
}

.child p{
    font-size: 25px;
}

/* Mindset Section */

.mindset{
    background-image: url(images/gradient3.png),url(images/watch.png) ;
    background-repeat: no-repeat;
    width: 1140px;
}

.positive-mindset h3{
    font-size: 40px;
    padding-top: 60px;
    padding-left: 60px;
    width: 450px;
    height: 94px;
    color: #ffffff;
    font-weight: bold;
}

.primary-btns{
    margin-bottom: 59px;
    background: #ffffff;
    color: #F15B22;
    border: none;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    font-size: 20px;
}

/* Footer Section */

.footer-section{
    background: black;
    display: flex;
    margin-top: 130px;
    padding-bottom: 130px;
    padding-top: 130px;
    justify-content: space-between;
}

.future{
    width: 40%;
    margin-left: 17px;
}
.future h3,p{
    color: #ffffff;
}

.future h3{
    font-size: 45px;
}

.future p{
    font-size: 16px;
}
.future a{
    text-decoration: none;
    color: #ffffff;
}

.subscribe{
    width: 40%;
    text-align: left;
    display: block;
}

.subscribe h3, .form{
    color: #ffffff;
}
.subscribe h3{
    font-size: 25px;
    padding-bottom: 30px;
}
.subscribe input{
    width: 350px;
    height: 65px;
    background: none;
    border-radius: 5px;
    border-color: #e8dfdf;
    color: #ffffff;
    margin-bottom: 16px;
}
/* Social Icon */

.social-icon i{
    /* color: #F15B22; */
    border-radius: 50%;
    text-align: center;
    font-size: 47px;
    width: 47px;
    height: 46px;
    background: #ffffff;
    margin-top: 30px;
}

.social-icon .facebook{
    color: #006AFF;
    text-align: center;
}

.social-icon .tiny ,.twitter{
    color: #1DA1F2;
    text-align: center;
    background: none;
}

.social-icon .small, .youtube{
    color: #FF0000;
    text-align: center;
    background: none;
}